@import 'normalize.scss';
@import 'fonts.scss';

// === slider ===

.section-slider {
  color: #ffffff;
  //background-image: url("../img/slider-background.png");
  transition: background 0.5s linear;
  background: url("../img/slider-background.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  .section-slider-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.7);
  }
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    &-logo {
      display: flex;
      align-items: center;
      font-family: Raleway;
      font-weight: 400;
      font-size: 34px;
      padding-left: 50px;
      padding-right: 80px;
    }
    &-menu {
      flex-shrink: 1;
      padding-right: 63px;
      a {
        text-decoration: none;
        color: white;
        font-family: Montserrat;
        line-height: 26px;
        font-size: 14px;
        font-weight: 300;
        padding: 15px;
      }
      a:hover {
        color: #c7b299;
      }
    }
    &-icon-bag {
      padding-right: 28px;
      min-width: 20px;
    }
    &-icon-find {
      padding-right: 30px;
    }
    &-burger {
      display: none;
    }
  }
  &-wrapper {
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    &-leftButton {
      width: 40px;
      height: 73px;
      background-image: url("../img/left.png");
      cursor: pointer;
      &:hover {
        background-image: url("../img/left_hover.png");
      }
    }
    &-content {
      display: flex;
      flex-direction: column;

      align-items: center;
      &-title {
        margin: 0;
        padding: 20px 0 0 0;
        font-family: Raleway;
        font-size: 36px;
      }
      &-subtitle {
        margin-top: 14px;
        font-family: Raleway;
        font-weight: 800;
        font-size: 52px;
        text-align: center;
      }
      &-info {
        width: 560px;
        text-align: center;
        margin-top: 19px;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
      &-button {
        font-family: Raleway;
        color: #ffffff;
        margin-top: 30px;
        font-weight: 800;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 23px;
        width: 170px;
        height: 53px;
        border: 0;
        box-shadow: inset 0 -3px 0 #736357;
        background-color: #998675;
        cursor: pointer;
      }
    }
    &-rightButton {
      width: 40px;
      height: 73px;
      background-image: url("../img/right.png");
      cursor: pointer;
      &:hover {
        background-image: url("../img/right_hover.png");
      }
    }
  }
  &-bubbles {
    padding-bottom: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-button-full {
      padding-right: 4px;
      width: 11px;
      height: 11px;
      outline: none;
      border: 0;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.5;
      margin: 0 5px;
      cursor: pointer;
    }
    &-button-empty {
      padding-right: 4px;
      width: 15px;
      height: 15px;
      outline: none;
      border-radius: 50%;
      border: 2px solid #d3c1ad;
      background-color: transparent;
      margin: 0 5px;
      cursor: pointer;
    }
  }
  &-mobileMenu {
    display: flex;
    flex-direction: column;
    display: none;
  }
}

@media (max-width: 855px) {
  .section-slider-header-burger {
    z-index: 10;
    display: block;
    position: absolute;
    left: 50px;
    width: 30px;
    height: 20px;


    span {
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    &:before, &:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &:before {
      bottom: 0;
    }
    &:after {
      top: 0;
    }

    &.active {
      &:before {
        transform: rotate(45deg);
        bottom: 10px;
      }
      &:after {
        transform: rotate(-45deg);
        top: 8px;
      }
      span {
        height: 0;
      }
    }

  }
  .section-slider-header {
    justify-content: space-around;
    &-logo {
      width: auto;
      padding: 0;
      &-text {
        display: none;
      }
    }
    &-menu {
      display: none;
    }
    &-icon-bag {
      visibility: hidden;
      order: -1;
    }
  }
  .section-slider-wrapper {
    justify-content: center;
    &-rightButton {
      display: none;
    }
    &-leftButton {
      display: none;
    }
  }
  .section-slider-mobileMenu {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 320px;
    background-color: #404040;
    text-align: left;
    padding-top: 100px;
    padding-left: 30px;
    a {
      text-decoration: none;
      color: white;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      padding: 10px;
    }
    a:hover {
      color: #c7b299;
    }
    &.active {
      display: flex;
    }
  }
}

@media (max-width: 560px) {
  .section-slider-wrapper {
    &-content {
      &-title {
        font-size: 15px;
      }
      &-subtitle {
        width: 300px;
        font-size: 30px;
      }
      &-info {
        font-size: 15px;
        width: 300px;
      }
    }
  }
  .section-slider-header {
    justify-content: space-around;
    padding-top: 20px;
  }
  .section-slider-header-logo {
    img {
      height: 40px;
    }
  }
  .section-slider-mobileMenu {
    padding-top: 70px;
  }
}

// === / slider ===

// === promo ===

.section-promo {
  &-inner {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    &-item {
      padding-bottom: 40px;
      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 15px;
      padding-left: 15px;
      &-img {
        padding-bottom: 29px;
        height: 50px;
        .hover {
          display: none;
        }
      }
      &-title {
        text-align: center;
        font-family: Raleway;
        font-weight: 600;
        font-size: 22px;
        color: #555555;
        padding-bottom: 19px;
      }
      &-text {
        max-width: 100%;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        padding-bottom: 33px;
        text-align: center;
      }
      &-border {
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
      }
      &:hover {
        .section-promo-inner-item-title {
          color: #c7b299;
        }
        .section-promo-inner-item-border {
          background-color: #c7b299;
        }
        .hover {
          display: block;
        }
        .noHover {
          display: none;
        }

      }
    }
  }
}

// === / promo ===

// === mobile ===

.section-mobile {
  &-inner {
    padding-top: 80px;
    padding-left: 20px;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    &-image {
      img {
        height: 100%;
      }
    }
    &-content {
      align-self: center;
      padding-right: 40px;
      &-title {
        color: #555555;
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
      }
      &-text {
        padding-top: 40px;
        color: #8c8c8c;
        max-width: 680px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
      }
      &-ul {
        padding-top: 45px;
        padding-left: 50px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        ul {
          list-style-image: url("../img/mobile/list-style.png");
        }
        li {
          padding-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 855px) {
  .section-mobile-inner-image {
    display: none;
  }
  .section-mobile-inner-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    &-ul {
      padding-top: 10px;
      padding-left: 0;
      li {
        padding-left: 10px;
      }
    }
  }
}

// === / mobile ===

// === stat ===

.section-stat {
  &-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding-bottom: 60px;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 70px;
      padding-right: 15px;
      padding-left: 15px;
      &-image {
      }
      &-count {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 200;
        line-height: 36px;
        padding-top: 30px;
      }
      &-title {
        color: #c7b299;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 21px;
        padding-bottom: 30px;
      }
      &-border {
        width: 30px;
        height: 2px;
        background-color: #ffffff;
      }
    }
  }
}

@media (max-width: 560px) {
  .section-stat {
    &-inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: #f4f5f8;
      background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
      padding-bottom: 45px;
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 51px;
        padding-right: 12px;
        padding-left: 12px;
        &-image {
          img {
            height: 33px;
          }
        }
        &-count {
          color: #ffffff;
          font-family: Montserrat;
          font-size: 36px;
          font-weight: 200;
          line-height: 27px;
          padding-top: 22px;
        }
        &-title {
          color: #c7b299;
          font-family: Montserrat;
          font-size: 11px;
          font-weight: 300;
          line-height: 15px;
          text-transform: uppercase;
          padding-top: 17px;
          padding-bottom: 22px;
        }
        &-border {
          width: 22px;
          height: 2px;
          background-color: #ffffff;
        }
      }
    }
  }
}

// === / stat ===

// === recent ===

.section-recent {
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      color: #555555;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 400;
      padding-top: 80px;
    }
    &-text {
      max-width: 780px;
      text-align: center;
      color: #8c8c8c;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &-slider {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 40px;
      &-item {
        display: flex;
        flex-direction: column;
        max-width: 370px;
        min-width: 370px;
        margin-right: 15px;
        margin-left: 15px;
        &-image {
          position: relative;
          max-width: 370px;
          height: 220px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          &-date {
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            flex-direction: column;
            z-index: 10;
            &-dd {
              width: 50px;
              height: 35px;
              border-radius: 3px 3px 0 0;
              background-color: #363636;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              font-family: Montserrat;
              font-size: 24px;
              font-weight: 300;
              line-height: 20px;
            }
            &-mm {
              width: 50px;
              height: 25px;
              border-radius: 0 0 3px 3px;
              background-color: #252525;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              font-family: Montserrat;
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
            }
          }
          &-bubbles {
            padding-bottom: 22px;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            &-button-full {
              padding-right: 4px;
              outline: none;
              border: 0;
              border-radius: 50%;
              width: 11px;
              height: 11px;
              background-color: #ffffff;
              opacity: 0.5;
              margin: 0 5px;
            }
            &-button-empty {
              padding-right: 4px;
              outline: none;
              border-radius: 50%;
              width: 15px;
              height: 15px;
              border: 2px solid #d3c1ad;
              background-color: transparent;
              margin: 0 5px;
            }
          }
        }
        &-title {
          color: #555555;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 500;
          padding-top: 30px;
          padding-left: 30px;
        }
        &-text {
          color: #8c8c8c;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          padding-top: 20px;
          padding-left: 30px;
        }
        &-link {
          color: #c7b299;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          margin-top: 27px;
          padding-left: 30px;
          margin-bottom: 27px;
          span {
            margin-left: 9px;
            display: inline-block;
            width: 0;
            height: 0;
            border: 4px solid transparent; border-left: 5px solid #c7b299;
          }
        }
        &:hover {
          background-color: #362f2d;
          .section-recent-inner-slider-item-image {
            &::before {
              content: '';
              position: absolute;
              z-index: 5;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: rgba(17, 17, 17, 0.7);
              }
            &-date {
              &-dd {
                background-color: #c7b299;
              }
              &-mm {
                background-color: #a48d72;
              }
            }
          }
          .section-recent-inner-slider-item-title {
            color: #c7b299;
          }
          .section-recent-inner-slider-item-text {
            color: #ffffff;
          }
        }
      }
    }
    &-buttons {
      padding-top: 40px;
      display: flex;
      &-left {
        padding-right: 4px;
        .hover {
          display: none;
        }
        &:hover {
          .hover {
            display: block;
          }
          .noHover {
            display: none;
          }
        }
      }
      &-right {
        padding-left: 4px;
        .hover {
          display: none;
        }
        &:hover {
          .hover {
            display: block;
          }
          .noHover {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .section-recent-inner-slider-item.third {
    display: none;
  }
}

@media (max-width: 800px) {
  .section-recent-inner-slider-item.first {
    max-width: 370px;
    min-width: 280px;
    &-image {
      background-size: cover;
    }
  }
  .section-recent-inner-buttons {
    padding-top: 10px;
  }
  .section-recent-inner-slider-item.second {
    display: none;
  }
}

// === / recent ===

// === logos ===

.section-logos {
  margin-top: 80px;
  position: relative;
  background: url("../img/logos/background.png") no-repeat 50% 50%;
  background-size: cover;
  &-inner {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-image {
      min-width: 200px;
      padding-right: 45px;
      padding-left: 45px;
      z-index: 10;
      img {
        max-height: 50%;
        max-width: 100%;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.7);
  }
}

@media (max-width: 855px) {
  .section-logos-inner {
    flex-wrap: nowrap;
    height: 35vh;
    overflow: hidden;
    &-image {
      min-width: 0px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media (max-width: 560px) {
  .section-logos {
    margin-top: 30px;
  }
  .section-logos-inner {
    flex-wrap: wrap;
    height: 35vh;
    &-image {
      min-width: 70px;
      max-width: 70px;
      padding: 20px;
    }
  }
}

// === / logos ===

// === footer ===

.section-footer-inner {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &-links {
    margin-right: 35px;
  }
  &-authors {
    margin-left: 35px;
  }
  ul {
    list-style: none;
    li {
      display: inline;
      font-family: Montserrat;
      font-size: 13px;
      color: #555555;
      font-weight: 400;
      white-space: nowrap;
      &::after {
        content: "|";
        color: #555555;
      }
      &:last-child::after {
        display: none;
      }
      a {
        text-decoration: none;
        color: #555555;
        &:hover {
          color: #c7b299;
          .footer-title {
            color: #c7a173;
          }
        }
      }
    }
  }
  .footer-title {
    color: #959595;
  }
}

@media (max-width: 600px) {
  .section-footer-inner {
    display: block;
    padding: 15px;
    ul {
      padding-left: 0;
      text-align: center;
    }
    &-links {
      margin: 0;
    }
    &-authors {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

// === / footer ===